<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-avatar">
      <img src="http://www.gravatar.com/avatar/e032d287cce8230e86a6eb7da55fdda7?s=200" />
    </div>
    <div class="sidebar-about">
      <a href="{{ site.url }}"><h1>{{ site.title }}</h1></a>
      <p class="lead">{{ site.tagline }}</p>
    </div>

    <ul class="sidebar-nav">
      <li class="sidebar-nav-item{% if page.title == "Home" %} active{% endif %}">
        <a href="/">Home</a>
      </li>

      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      {% assign pages_list = site.pages %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "page" %}
            <li class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}">
              <a href="{{ node.url }}">{{ node.title }}</a>
            </li>
          {% endif %}
        {% endif %}
      {% endfor %}

      <li class="sidebar-nav-item"><a href="https://github.com/khzaw">GitHub</a></li> 
    </ul>
  </div>
</div>