.image {
  img {
    margin: 0 auto;
  }
  figcaption {
    color: rgba(0,0,0,.6);
    font-size: 14px;
    text-align: center;
  }
  margin: 3rem;
}

.sidebar-about {
  a {
    text-decoration: none;
  }
}

.sidebar-avatar {
  img {
    border-radius: 50%;
    margin: 0.5rem auto;
  }
}
@media (min-width: 48rem) {
  .sidebar-avatar {
    margin-bottom: 2rem;
    img {
      margin-left: 0;
    }
  }
}